#Abutus{
    text-align: center;
    .img{
        position: relative;
        overflow: hidden;
        img{
            position: relative;
            bottom: -120px;
            max-width: 100%;
            @include mobaile{
                bottom: -85px;
            }
        }
    }
}